.title {
    margin-bottom: 20px;
}

.groupList {
    display: flex;

    background-color: red;

    gap: 20px;
    padding: 20px;
}

.modalActions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}