.container {
    display: flex;
    flex-direction: column;

    padding: 14px;

    background-color: var(--component-gray1);

    border-radius: 12px;
    border: 1px solid var(--border-gray1);

    box-shadow: 0 1px 2px #0a0d120d;
}

.title {
    font-size: 16px;
    font-weight: 600;
    color: var(--content-gray2);
}