// components/TeamBuildingModal/TeamBuildingModal.module.scss

.wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 100%;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: var(--gray-100);

    margin: 0;
}

.description {
    font-size: 16px;
    color: var(--gray-60);
    margin: 0 0 20px 0;
}


.bottom {
    width: 100%;

    margin-top: 10px;
}



