@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");

@import 'font.scss';

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Wanted Sans Variable";
}


:root {
  --white: #ffffff;
  /* Brand Colors */
  --brand-1: #f3f5ff;
  --brand-5: #F0F3FF;
  --brand-10: #E5EAFF;
  --brand-20: #D6DEFF;
  --brand-30: #B8C7FF;
  --brand-40: #899DFF;
  --brand-50: #456FFC;
  --brand-60: #2E55DB;
  --brand-70: #1F3EBF;
  --brand-80: #132AA3;
  --brand-90: #0A1987;
  --brand-100: #040C6B;

  /* Gray Scale */
  --gray-1: #f5f5f5;
  --gray-5: #f0f0f0;
  --gray-10: #ededf5;
  --gray-20: #E3E3F0;
  --gray-30: #D5D5E5;
  --gray-40: #B4B4C8;
  --gray-50: #9595B1;
  --gray-60: #707085;
  --gray-70: #494957;
  --gray-80: #24242B;
  --gray-90: #18181C;
  --gray-100: #18181a;

  --text: #18181a;

  --padding: 40px;
}

.section {
  padding: 0 var(--padding);
}
