@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/static/complete/WantedSans.min.css");

@import 'font.scss';

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Wanted Sans Variable";
}


:root {
  /* Brand Colors */
  --brand-1: #f3f5ff;
  --brand-5: #F0F3FF;
  --brand-10: #E5EAFF;
  --brand-20: #D6DEFF;
  --brand-30: #B8C7FF;
  --brand-40: #899DFF;
  --brand-50: #456FFC;
  --brand-60: #2E55DB;
  --brand-70: #1F3EBF;
  --brand-80: #132AA3;
  --brand-90: #0A1987;
  --brand-100: #040C6B;

  /* Gray Scale */
  --gray-1: #f7f7f7;
  --gray-5: #f2f2f2;
  --gray-10: #e8e8e8;
  --gray-20: #dadada;
  --gray-30: #cccccc;
  --gray-40: #aeaeae;
  --gray-50: #919191;
  --gray-60: #747474;
  --gray-70: #575757;
  --gray-80: #3b3b3b;
  --gray-90: #1f1f1f;
  --gray-100: #000000;

  --text: #18181a;

  --padding: 40px;
}

.section {
  padding: 0 var(--padding);
}
