.container {
    width: 100%;

    padding: 12px 15px;
    margin-left: -14px;

    border-radius: 10px;

    font-weight: 500;
    font-size: 16px;

    color: var(--content-gray1);

    &:hover {
        cursor: pointer;
        background-color: var(--component-gray1);
    }

    &:active {
        background-color: var(--component-gray2);
    }

    // 선택 되었을때
    &[data-selected="true"] {
        background-color: var(--background-blue3);
        color: var(--solid-blue1);

        font-weight: bold;
    }
}