.container {
    width: 100%;

    padding: 12px 15px;
    margin-left: -14px;

    border-radius: 10px;

    font-weight: 500;
    font-size: 16px;

    color: var(--gray-60);

    &:hover {
        cursor: pointer;
        background-color: var(--gray-1);
    }

    &:active {
        background-color: var(--gray-10);
    }

    // 선택 되었을때
    &[data-selected="true"] {
        background-color: var(--brand-50);
        color: var(--gray-1);

        font-weight: bold;
    }
}