.container {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    text-decoration: none;
}

.icon {
    width: 45px;
    height: 45px;

    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--gray-1);

    svg {
        fill: var(--gray-1);
    }
}

.data {
    display: flex;
    flex-direction: column;

    gap: 4px;

    .name {
        font-size: 14px;
        font-weight: 500;

        color: var(--gray-90);
    }

    .class {
        font-size: 13px;
        font-weight: 500;

        color: var(--gray-1);
    }
}