.header {
    height: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 22px;
}

.logo {
    width: 30px;
    height: 30px;
}

.developers {
    font-size: 14px;

    color: var(--content-gray1);

}